# Question 1


Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [1]:
email_id= "info@pricewatercoopers.org"
name = email_id.split('@')[1].split('.')[0] 
print(name)

pricewatercoopers

# Question 2

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [1]:
a =("square","cube","triangle","rectangle")
x = sorted(a)
print (x)

['cube', 'rectangle', 'square', 'triangle']

# Question 3

Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

# Sets


 Its a collection of unorderd and unindexed data type.
 It is written in curly brackets.
 
it is not possible to access items in a set by reffering to an index or key.
but you can do that by using in keyword.

In [21]:
st = {"Mandazi","samosa","cakes"}
print(st)

{'samosa', 'cakes', 'Mandazi'}

In [22]:
#check id cakes is present in the set
st = {"Mandazi","samosa","cakes"}
print("cakes" in st)

True

In [26]:
#  we use add() method to add an item to a set.
st = {"Mandazi","samosa","cakes"}
st.add ("bread")
print(st)

{'bread', 'samosa', 'cakes', 'Mandazi'}

In [29]:
#in order to add multiple items in a set we use update(method)
st = {"Mandazi","samosa","cakes"}
st.update(["bread","pie","buns"])
print(st)

{'pie', 'cakes', 'samosa', 'bread', 'buns', 'Mandazi'}

In [31]:
# To get the length of items in a set we use le()method

st = {"Mandazi","samosa","cakes"}
print(len(st))

3

In [33]:
# Use remove(),or discard()method to remove items from aset.
st = {"Mandazi","samosa","cakes"}
st.remove("samosa")
st.discard("cakes")
print(st)

{'Mandazi'}

# NOTE
In set when we use remove() method and the item doesn't exist it will raise error .
But when we use discard method even if the item doesn't exist it will not raise error.

In [39]:
# pop()method removes the last item in a set.
st = {"Mandazi","samosa","cakes"}
y = st.pop()
print(y)
print(st)

samosa
{'cakes', 'Mandazi'}

In [40]:
# clear() method empties the set
st = {"Mandazi","samosa","cakes"}
st.clear()
print(st)

set()

In [41]:
# del keyword will delete the set completely
st = {"Mandazi","samosa","cakes"}
del st
print(st) # it raises error because the set nolonger exist

NameError: name 'st' is not defined

In [42]:
# To we join two or more sets by use of union ()method ,
# or update() method to inserts all items 
#from one item to another'
st1 = {"Mandazi","samosa","cakes"}
st2 = {2,4,5,6}
st3 = st1.union(st2)
print(st3)

{2, 'samosa', 4, 5, 'cakes', 6, 'Mandazi'}

In [43]:
st1 = {"Mandazi","samosa","cakes"}
st2 = {2,4,5,6}
st1.update(st2)
print(st1)

{2, 'samosa', 4, 5, 'cakes', 6, 'Mandazi'}

In [44]:
#We can also use the set()constructor to make a set.
#There is use of double round brackets.
st1 =set(("Mandazi","samosa","cakes"))
print(st1)

{'samosa', 'cakes', 'Mandazi'}

# other set methods includes :

In [ ]:
copy()# to copy itemsto the set
difference() # To return a set containing the difference between two or more sets
issubset()# Returns whether another set contains this set or not.
issuperset()# Returns whether this set contains another set or not

# Question 4

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
 Input Format:
The first line contains n-1 numbers with each number separated by a space.
 Output Format:
Print the missing number
 Example:
Input:
1 2 4 6 3 7 8
 Output:
5
 Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [9]:
n= 10
x = [ i for i in range(1,n+1)]
print (x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Question 5

 With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24

In [27]:
l1 = [1,2,3,4,2,5,6,4,6,9,]
l2 = []
[l2.append(num) for num in l1 if num not in l2]
        
print(l2, end=' ')

[1, 2, 3, 4, 5, 6, 9]